body{
    margin: 0px;
    padding: 0px;
    background-color: rgb(127, 212, 255);
}

canvas{
    background-color: white;
    margin: 10px;
}

#limpiar{
    width: 180px;
    height: 40px;
    border-radius: 20px;
    background-color: bisque;
}

#borrador{
    width: 180px;
    height: 30px;
    border-radius: 20px;
    background-color: rgb(168, 238, 226);
    margin: 5px;
}


#paleta{
    margin: 5px;
    width: 150px;
    height: 30px;
    border-radius: 20px;
}

.margen{
    margin: 19px;
}

.contenedor{
    height: 700px;
    width: 100%;
}

.menu button{
    border-radius: 100%;
    width: 50px;
    height: 50px;
}
.grosor button{
    background-image: url("img/lineagruesa.png");
    background-size: 100px 100px;
    background-repeat: no-repeat;
    height: 40px;
    width: 150px;
    background-position: center;
    border-radius: 10px;
    margin-bottom: 10px;
} 